<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="cn/enigma/project/common/log/defaults.xml"/>
    <include resource="cn/enigma/project/common/log/console-appender.xml"/>
    <include resource="cn/enigma/project/common/log/file-appender.xml"/>
    <include resource="cn/enigma/project/common/log/http-trace.xml"/>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>